.accueil {
    margin: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10rem 1fr 10rem;
}
.connexion {
    margin: auto;
    font-family: "poppins";
    padding: 5rem;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    text-align: center;
    background-color: #9c92f5;
    border-radius: 15px;

    h1 {
        margin: 2rem auto;
        font-size: 4rem;
        color: white;
    }
    h2 {
        font-size: 2rem;
        margin: 1rem auto;
        color: white;
    }
    form {
        display: flex;
        margin: 2rem auto;
        flex-direction: column;
        .connexion__info {
            margin: 1rem;
            font-size: 2rem;
            padding: 1rem;
            outline: none;
            border-radius: 15px;
            border: 3px #9c92f5 solid;
        }
        .connexion__info:focus {
            border-color: #9c92f5 1px solid;
            box-shadow: 0 0 50px #9c92f5;
        }
    }
    .connexion__boutton {
        margin: 1rem;
        font-size: 2rem;
        padding: 1rem;
        outline: none;
        border-radius: 15px;
        border: 3px #9c92f5 solid;
    }
    .connexion__boutton:hover {
        background-color: greenyellow;
        cursor: grabbing;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        margin: 20px auto;
    }
}
.alert-danger {
    font-size: 2rem;
    color: red;
    margin: 10px auto;
}
.alert-success {
    font-size: 2rem;
    color: greenyellow;
    margin: 10px auto;
}
